<%- include("./partials/header") %>
<div class="container-users">
  <% users.forEach((user) => { %>
  <div class="user-item">
    <div class="user-data">
      <p>Fullname: <%= user.name %> <%= user.lastname %></p>
      <p>Publications: <%= user.publications.length %></p>
    </div>
    <p>Username: <%= user.username %></p>
    <p>Email: <%= user.email %></p>
  </div>
  <% }) %>
</div>
<%- include("./partials/footer") %>
